@import '../bootswatch/darkly/variables';
@import './util';
@import './quill';
@import './responsive';
@import './itemtree';

html,
body {
    min-height: 100vh;
}

.screen {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.screen-sidebar-start {
    position: absolute;
    width: 292px;
    height: 100%;
}

.screen-content-end {

    position: absolute;
    left: 292px;
    height: 100%;
    width: calc(100% - 292px);
    min-width: 480px;
    max-width: calc(100% - 292px);

    background-size: 20px 20px;
    background-color: #1a1a1a;
    background-image:
        linear-gradient(to right, #1f1f1f 1px, transparent 1px),
        linear-gradient(to bottom, #1f1f1f 1px, transparent 1px);

    .img-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 544px;
        height: 544px;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: brightness(0.2);
    }
}

.screen-content-render {
    // display: block;
    display: none;
    position: absolute;
    right: 0;
    height: 100%;
    width: 768px;
}

// This is to center modals in the main pane.
.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }